{% extends 'poll/master.html' %}
{% block title %}
<title>نظرسنجی </title>
{% endblock title %}
{% block body %} 
  <form action=
  {% if user.is_authenticated %} 
    {% url "poll:vote" question.id %}
  {% else %}
    {% url 'login' %}?next={{ request.path }} 
  {% endif %}
  method="post">
  
      {% csrf_token %}
      <fieldset>
        <div class="col-6">
          <legend class="h5">_ {{question.question_text}}</legend>
        </div>
        <br>
        
        
          {% for choise in question.choise_set.all %}
          <div class="row my-2 mx-4">
            <div class="col-5 ">
              
              <input 
                class="form-check-input" 
                type='radio' 
                name='choise'
                {% if selected_choise %} 
                disabled
                {% endif %}
                {% if selected_choise.id == choise.id %} 
                checked
                {% endif %} 
                id="choise{{ forloop.counter }}" 
                value="{{choise.id}}" 
                >
              <label for="choise{{ forloop.counter }}"> 
                {{choise.choise_text}}
                {% if selected_choise.id == choise.id %} 
                <<<<<<<<
                {% endif %}   
              </label><br>
            </div>
          </div>
          {% endfor %}
        
          {% if error_message %}
              <p><strong>{{error_message}}</strong><p>
          {% endif %}
      </fieldset>
      <input  type='submit' value='ثبت رای'>
  </form>
  <br/>
  <a class="link-success" href={% url 'poll:results' question.id %}> مشاهده نتایج </a>
{% endblock body %} 